In [4]:
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import pandas as pd

In [5]:
data = pd.read_csv('Data/haberman.csv')

In [6]:
data.head()

   30  64   1  1.1
0  30  62   3    1
1  30  65   0    1
2  31  59   2    1
3  31  65   4    1
4  33  58  10    1

In [8]:
data.columns

Index(['30', '64', '1', '1.1'], dtype='object')